#welcomeSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100svw;
    height: 100svh;
    background-color: #000000;
    z-index: var(--section-z-index);
}

#welcomeSection .bgWrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100svw;
    height: 100svh;
}

#welcomeSection .bgWrap > video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#welcomeSection .fgWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100svw;
    height: 100svh;
    background-color: #00000060;
}

#welcomeSection .fgWrap > .displayWrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: #ffffff;
    overflow: hidden;
}
#welcomeSection .fgWrap > .displayWrap > img {
    width: calc(100% - var(--screen-margin-2x));
    max-width: 32rem;
    user-select: none;
}

#welcomeSection .hintWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
}

#welcomeSection .hintWrap .iconWrap {
    position: relative;
    width: 2rem;
    height: 2rem;
}

#welcomeSection .hintWrap .iconWrap > svg {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1.25rem;
    height: 1.25rem;
    stroke-width: 3;
    color: #ffffff;
    transform: translateX(-50%);
    animation: scrollDownHint 2s infinite;
}

#welcomeSection .hintWrap .iconWrap > svg:nth-child(1) {
    top: 20%;
}

#welcomeSection .hintWrap .iconWrap > svg:nth-child(2) {
    bottom: 20%;
    animation-delay: 0.25s;
}

@keyframes scrollDownHint {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#welcomeSection .hintWrap > p {
    font-size: 0.875rem;
    font-weight: 600;
    color: #ffffff;
}

@media (max-width: 1024px) {
}
/* 모바일 */
@media (max-width: 768px) {
    #welcomeSection .fgWrap > .displayWrap > img {
        width: calc(100% - var(--screen-margin-2x));
        max-width: 20rem;
        user-select: none;
    }
}
