#memberPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100svw;
    background-color: var(--section-bg-color-2);
}

#memberPage > .pageHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    height: 24rem;
    background-image: url("@/assets/images/dsu-label-2.png");
    background-size: cover;
    background-position: center;
}

#memberPage > .pageHeader:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    background: rgba(0, 0, 0, 0.3);
    z-index: 0;
}

#memberPage > .pageHeader > .article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 4.5rem;
    width: calc(100% - var(--screen-margin-2x));
    max-width: var(--max-content-width);
    height: 100%;
    z-index: 1;
}

#memberPage > .pageHeader > .article > .title {
    font-size: var(--heading-large);
    font-weight: var(--heading-weight);
    color: #ffffff;
}

#memberPage > .pageHeader > .article > .subTitle {
    font-size: var(--title-large);
    font-weight: 400;
    color: #ffffff;
}

#memberPage > .article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    margin: 4rem 0;
    width: calc(100% - var(--screen-margin-2x));
    max-width: var(--max-content-width);
}

#memberPage > .article > .memberContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#memberPage > .article > .memberContainer > .title {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 2rem;
    font-size: var(--title-large);
    font-weight: var(--title-weight);
    color: var(--title-color);
}

#memberPage > .article > .memberContainer > .title > span {
    margin-left: 0.25rem;
    font-size: var(--title-small);
    font-weight: var(--title-weight);
    color: var(--primary-color);
}

#memberPage > .article > .memberContainer > .memberWrap {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    width: 100%;
}

.memberItem {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    width: 100%;
    max-width: 100%;
    background-color: #ffffff;
    border-radius: var(--border-radius);
    box-shadow: 0 0 14rem rgb(0 0 0 / 3%);
}

.memberItem > .profile {
    margin-bottom: 1rem;
    width: 4rem;
    height: 4rem;
    border: 1px solid var(--border-color);
    border-radius: 50%;
    object-fit: cover;
}

.memberItem > .name {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    font-size: var(--title-small);
    font-weight: var(--title-weight);
    color: var(--title-color);
}

.memberItem > .name > span {
    font-size: var(--body-small);
    font-weight: var(--body-weight);
    color: var(--primary-color);
}
.memberItem > .email {
    font-size: var(--desc-medium);
    font-weight: var(--desc-weight);
    color: var(--desc-color);
}

.memberItem > .subTitle {
    margin-top: 0.75rem;
    margin-bottom: 0.25rem;
    font-size: var(--body-small);
    font-weight: var(--title-weight);
    color: var(--title-color);
}
.memberItem > .fieldWrap {
}
.memberItem > .fieldWrap > .field {
    list-style-type: disc;
    margin-left: 1rem;
    font-size: var(--body-small);
    font-weight: var(--body-weight);
    color: var(--body-color);
}

.memberItem > .company {
    margin-top: 0.75rem;
    font-size: var(--body-small);
    font-weight: var(--title-weight);
    color: var(--title-color);
}
@media (max-width: 1024px) {
    #memberPage > .article > .memberContainer > .memberWrap {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
        width: 100%;
    }
}
/* 모바일 */
@media (max-width: 768px) {
    #memberPage > .article > .memberContainer > .memberWrap {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        width: 100%;
    }
}
