#manageMemberPage {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 3rem 2rem;
    width: 100%;
    min-width: var(--max-content-width-small);
}

#manageMemberPage .memberContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#manageMemberPage > .memberContainer > .headerWrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

#manageMemberPage > .memberContainer > .headerWrap > .title {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    font-size: var(--title-large);
    font-weight: var(--title-weight);
    color: var(--title-color);
}

#manageMemberPage > .memberContainer > .headerWrap > .title > span {
    margin-left: 0.25rem;
    font-size: var(--title-small);
    font-weight: var(--title-weight);
    color: var(--primary-color);
}

#manageMemberPage > .memberContainer > .headerWrap > .funcWrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

#manageMemberPage > .memberContainer > .headerWrap > .funcWrap > button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25rem;
    padding: 0.5rem 0.625rem;
    background-color: #ffffff;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    font-size: var(--body-medium);
    font-weight: var(--title-weight);
    color: var(--title-color);
    transition: border 0.3s;
}

#manageMemberPage > .memberContainer > .headerWrap > .funcWrap > button:hover {
    border: 1px solid var(--title-color);
}

#manageMemberPage > .memberContainer > .headerWrap > .funcWrap > button > svg {
    width: 1rem;
    height: 1rem;
    stroke-width: 3px;
}

#manageMemberPage > .memberContainer > .memberWrap {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#manageMemberPage > .memberContainer > .memberWrap > .memberWrapHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.5rem;
    padding: 0 1rem;
}
#manageMemberPage > .memberContainer > .memberWrap > .memberWrapHeader > p {
    font-size: var(--desc-medium);
    font-weight: var(--body-weight);
    color: var(--body-color);
}

#manageMemberPage
    > .memberContainer
    > .memberWrap
    > .memberWrapHeader
    > .h_o_1 {
    width: 3rem;
}
#manageMemberPage > .memberContainer > .memberWrap > .memberWrapHeader > .h_o_2,
#manageMemberPage
    > .memberContainer
    > .memberWrap
    > .memberWrapHeader
    > .h_o_7 {
    width: 6rem;
}
#manageMemberPage
    > .memberContainer
    > .memberWrap
    > .memberWrapHeader
    > .h_o_3 {
    width: 14rem;
}
#manageMemberPage
    > .memberContainer
    > .memberWrap
    > .memberWrapHeader
    > .h_o_4 {
    flex: 1;
}
#manageMemberPage > .memberContainer > .memberWrap > .memberWrapHeader > .h_o_5,
#manageMemberPage
    > .memberContainer
    > .memberWrap
    > .memberWrapHeader
    > .h_o_6 {
    width: 2.375rem;
    text-align: center;
}

#manageMemberPage .memberWrap > .memberItem:first-child {
    border-radius: var(--border-radius) var(--border-radius) 0 0;
}
#manageMemberPage .memberWrap > .memberItem:last-child {
    border-bottom: none;
    border-radius: 0 0 var(--border-radius) var(--border-radius);
}
#manageMemberPage .memberItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    width: 100%;
    max-width: 100%;
    background-color: #ffffff;
    border-bottom: 1px solid var(--border-color);
    box-shadow: 0 0 14rem rgb(0 0 0 / 3%);
}

#manageMemberPage .memberItem > .profile {
    width: 3rem;
    height: 3rem;
    border: 1px solid var(--border-color);
    border-radius: 50%;
    object-fit: cover;
}

#manageMemberPage .memberItem > .name {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    width: 6rem;
    font-size: var(--title-small);
    font-weight: var(--title-weight);
    color: var(--title-color);
}

#manageMemberPage .memberItem > .graduated {
    width: 6rem;
    font-size: var(--body-small);
    font-weight: var(--body-weight);
    color: var(--primary-color);
}
#manageMemberPage .memberItem > .email {
    width: 14rem;
    font-size: var(--desc-medium);
    font-weight: var(--desc-weight);
    color: var(--desc-color);
}

#manageMemberPage .memberItem > .subTitle {
    font-size: var(--body-small);
    font-weight: var(--title-weight);
    color: var(--title-color);
}
#manageMemberPage .memberItem > .fieldWrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5rem;
    flex: 1;
}
#manageMemberPage .memberItem > .fieldWrap > .field {
    list-style-type: disc;
    font-size: var(--body-small);
    font-weight: var(--body-weight);
    color: var(--body-color);
}

#manageMemberPage .memberItem > .company {
    flex: 1;
    font-size: var(--body-small);
    font-weight: var(--title-weight);
    color: var(--title-color);
}

#manageMemberPage .memberItem > .funcWrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 0.5rem;
}

#manageMemberPage .memberItem > .funcWrap > button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25rem;
    padding: 0.75rem;
    background-color: #ffffff;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    font-size: var(--body-small);
    font-weight: var(--title-weight);
    color: var(--title-color);
    transition: border 0.3s;
}

#manageMemberPage .memberItem > .funcWrap > button:hover {
    border: 1px solid var(--title-color);
}

#manageMemberPage .memberItem > .funcWrap > button > svg {
    width: 1rem;
    height: 1rem;
    stroke-width: 2px;
}

@media (max-width: 1024px) {
    #manageMemberPage > .article > .memberContainer > .memberWrap {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
        width: 100%;
    }
}
/* 모바일 */
@media (max-width: 768px) {
    #manageMemberPage > .article > .memberContainer > .memberWrap {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        width: 100%;
    }
}
