/* PC */
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100svw;
    height: 4.5rem;
    background-color: transparent;
    border-bottom: 1px solid #ffffff22;
    transition: background-color 0.3s, border-bottom 0.3s, transform 0.5s;
    z-index: var(--header-z-index);
}
.header.activate,
.header:hover {
    background-color: #ffffff;
    border-bottom: 1px solid #ddd;
}

.header .headerContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 var(--screen-margin);
}

.header .headerContainer > .logoWrap {
    font-size: 1.25rem;
    font-weight: bold;
    color: #ffffff;
    transition: color 0.25s;
    cursor: pointer;
}

.header .headerContainer > .logoWrap > svg {
    width: fit-content;
    height: 1.25rem;
    user-select: none;
}
.header.activate .headerContainer > .logoWrap,
.header:hover .headerContainer > .logoWrap,
.header.activate .headerContainer > .logoWrap > svg,
.header:hover .headerContainer > .logoWrap > svg {
    filter: brightness(-100%);
}
.header .headerContainer > .menuWrap {
    display: block;
}

.header .headerContainer > .menuWrap > ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

.header .headerContainer > .menuWrap > ul > li {
    font-size: 0.875rem;
    font-weight: bold;
    color: #ffffff;
    transition: color 0.25s;
    overflow: hidden;
    cursor: pointer;
}

.header .headerContainer > .menuWrap > ul > li > hr {
    border: none;
    border-bottom: 1px solid #000000;
    animation: slideOut 0.5s forwards;
}

.header .headerContainer > .menuWrap > ul > li:hover > hr {
    animation: slideIn 0.5s forwards;
}

@keyframes slideIn {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes slideOut {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(100%);
    }
}

.header.activate .headerContainer > .menuWrap > ul > li,
.header:hover .headerContainer > .menuWrap > ul > li {
    color: #000000;
}

.header .headerContainer > .funcWrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.75rem;
}

.header .headerContainer > .funcWrap > button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25rem;
    padding: 0.5rem 1.375rem;
    background-color: #ffffff;
    border-radius: 4rem;
    font-size: 0.875rem;
    font-weight: bold;
    color: #000000;
    transition: color 0.25s, background-color 0.25s;
}
.header.activate .headerContainer > .funcWrap > button,
.header:hover .headerContainer > .funcWrap > button {
    background-color: #000000;
    color: #ffffff;
}

.header .headerContainer > .funcWrap > button:hover {
    background-color: var(--primary-color);
}

.header .headerContainer > .funcWrap > button > svg {
    width: 1.25rem;
    height: 1.25rem;
}

.header .headerContainer > .funcWrap > .menu {
    display: none;
}

.header .menuContainer {
    display: none;
}

/* 태블릿 */
@media (max-width: 1024px) {
}
/* 모바일 */
@media (max-width: 768px) {
    .header .headerContainer > .menuWrap {
        display: none;
    }
    .header .headerContainer > .funcWrap > .contact {
        display: none;
    }
    .header .headerContainer > .funcWrap > .menu {
        display: flex;
        padding: 0.625rem 1.25rem;
    }

    .header .menuContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        position: fixed;
        top: 0;
        left: 0;
        width: 100svw;
        height: 100svh;
        background-color: #ffffff;
        opacity: 0;
        animation: fadeIn 0.75s forwards;
    }
    .header .menuContainer > ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .header .menuContainer > ul > li {
        font-size: var(--title-medium);
        font-weight: 600;
        color: var(--title-color);
        transition: color 0.25s;
        overflow: hidden;
        cursor: pointer;
        opacity: 0;
        transform: translateY(2rem);
        animation: fadeIn2 0.75s forwards;
    }

    .header .menuContainer > ul > li:nth-child(1) {
        animation-delay: 0.5s;
    }
    .header .menuContainer > ul > li:nth-child(2) {
        animation-delay: 0.6s;
    }
    .header .menuContainer > ul > li:nth-child(3) {
        animation-delay: 0.7s;
    }
    .header .menuContainer > ul > li:nth-child(4) {
        animation-delay: 0.8s;
    }
    .header .menuContainer > ul > li > hr {
        border: none;
        border-bottom: 1px solid #000000;
        animation: slideOut 0.5s forwards;
    }

    .header .menuContainer > ul > li:hover > hr {
        animation: slideIn 0.5s forwards;
    }

    .header.activate .menuContainer > ul > li,
    .header:hover .menuContainer > ul > li {
        color: #000000;
    }
    .header .menuContainer > .funcWrap {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        padding: 0 var(--screen-margin);
        width: 100%;
        height: 4.5rem;
    }
    .header .menuContainer > .funcWrap > button {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.25rem;
        padding: 0.5rem 1.25rem;
        background-color: #ffffff;
        border-radius: 4rem;
        font-size: 0.875rem;
        font-weight: bold;
        color: #000000;
        transition: color 0.25s, background-color 0.25s;
    }
    .header .menuContainer > .funcWrap > button {
        background-color: #000000;
        color: #ffffff;
    }

    .header .menuContainer > .funcWrap > button:hover {
        background-color: var(--primary-color);
    }

    .header .menuContainer > .funcWrap > button > svg {
        width: 1.25rem;
        height: 1.25rem;
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    @keyframes fadeIn2 {
        0% {
            transform: translateY(2rem);
            opacity: 0;
        }
        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }
    @keyframes fadeOut {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
}
