/* PC */
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem;
    width: 100svw;
    height: fit-content;
    background-color: var(--footer-bg-color);
}

.footer > .infoContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    max-width: var(--max-content-width);
}

.infoContainer > .linkWrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
}

.infoContainer > .linkWrap > a {
    border-bottom: 2px solid transparent;
    font-size: var(--body-medium);
    font-weight: 500;
    color: #ffffff;
    transition: border 0.3s, color 0.3s;
}
.infoContainer > .linkWrap > a:hover {
    border-bottom: 2px solid var(--primary-color-var-4);
    color: var(--primary-color);
}

.infoContainer > .infoWrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
}

.infoContainer > .infoWrap > .descWrap {
    flex: 1;
    color: #ffffff80;
}

.infoContainer > .infoWrap > .descWrap > ul {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.infoContainer > .infoWrap > .descWrap > ul > li {
    font-size: var(--body-small);
    font-weight: var(--body-weight);
    color: #ffffff80;
    list-style-type: disc;
}

.infoContainer > .infoWrap > .descWrap > ul > li > span {
    font-size: var(--body-small);
    font-weight: var(--body-weight);
}

.infoContainer > .infoWrap > .descWrap > .copyrightWrap {
    margin-top: 1rem;
    font-size: var(--body-small);
    font-weight: var(--body-weight);
    color: #ffffff40;
}

.infoContainer > .infoWrap > .logoWrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    opacity: 0.75;
}

.infoContainer > .infoWrap > .logoWrap > img {
    max-height: 3rem;
    user-select: none;
}

/* 태블릿 */
@media (max-width: 1024px) {
    .infoContainer > .linkWrap {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
    }
    .infoContainer > .infoWrap {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .infoContainer > .infoWrap > .descWrap > ul {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
    }
    .infoContainer > .infoWrap > .descWrap > ul > li {
        margin-left: 1rem;
    }
    .infoContainer > .infoWrap > .logoWrap {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        opacity: 0.75;
    }
}
/* 모바일 */
@media (max-width: 768px) {
}
