#manageNewsPage {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 3rem 2rem;
    width: 100%;
    min-width: var(--max-content-width-small);
}

#manageNewsPage .newsContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}
#manageNewsPage > .newsContainer > .headerWrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

#manageNewsPage > .newsContainer > .headerWrap > .title {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    font-size: var(--title-large);
    font-weight: var(--title-weight);
    color: var(--title-color);
}

#manageNewsPage > .newsContainer > .headerWrap > .title > span {
    margin-left: 0.25rem;
    font-size: var(--title-small);
    font-weight: var(--title-weight);
    color: var(--primary-color);
}

#manageNewsPage > .newsContainer > .headerWrap > .funcWrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

#manageNewsPage > .newsContainer > .headerWrap > .funcWrap > button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25rem;
    padding: 0.5rem 0.625rem;
    background-color: #ffffff;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    font-size: var(--body-medium);
    font-weight: var(--title-weight);
    color: var(--title-color);
    transition: border 0.3s;
}

#manageNewsPage > .newsContainer > .headerWrap > .funcWrap > button:hover {
    border: 1px solid var(--title-color);
}

#manageNewsPage > .newsContainer > .headerWrap > .funcWrap > button > svg {
    width: 1rem;
    height: 1rem;
    stroke-width: 3px;
}

#manageNewsPage > .newsContainer > .newsWrap {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#manageNewsPage > .newsContainer > .newsWrap > .newsWrapHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.5rem;
    padding: 0 1rem;
    width: 100%;
    min-width: var(--max-content-width-small);
}

#manageNewsPage > .newsContainer > .newsWrap > .newsWrapHeader > p {
    font-size: var(--desc-medium);
    font-weight: var(--body-weight);
    color: var(--body-color);
}

#manageNewsPage > .newsContainer > .newsWrap > .newsWrapHeader > .h_o_1 {
    width: 6rem;
}
#manageNewsPage > .newsContainer > .newsWrap > .newsWrapHeader > .h_o_2 {
    width: 10rem;
}

#manageNewsPage > .newsContainer > .newsWrap > .newsWrapHeader > .h_o_3 {
    flex: 1;
}

#manageNewsPage > .newsContainer > .newsWrap > .newsWrapHeader > .h_o_4 {
    width: 6rem;
}

#manageNewsPage > .newsContainer > .newsWrap > .newsWrapHeader > .h_o_5,
#manageNewsPage > .newsContainer > .newsWrap > .newsWrapHeader > .h_o_6 {
    width: 2.375rem;
    text-align: center;
}

#manageNewsPage .newsWrap > .newsItem:first-child {
    border-radius: var(--border-radius) var(--border-radius) 0 0;
}
#manageNewsPage .newsWrap > .newsItem:last-child {
    border-bottom: none;
    border-radius: 0 0 var(--border-radius) var(--border-radius);
}
#manageNewsPage .newsItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    width: 100%;
    max-width: 100%;
    background-color: #ffffff;
    border-bottom: 1px solid var(--border-color);
    box-shadow: 0 0 14rem rgb(0 0 0 / 3%);
}

#manageNewsPage .newsItem > .thumb {
    width: 6rem;
    height: 100%;
    border-radius: var(--border-radius);
    object-fit: cover;
    overflow: hidden;
}
#manageNewsPage .newsItem > .thumb > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s;
}

#manageNewsPage .newsItem:hover > .thumb > img {
    transform: scale(1.05);
}

#manageNewsPage .newsItem > .name {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    width: 8rem;
    font-size: var(--title-small);
    font-weight: var(--title-weight);
    color: var(--title-color);
}
#manageNewsPage .newsItem > .desc {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: var(--body-medium);
    font-weight: var(--body-weight);
    color: var(--body-color);
}
#manageNewsPage .newsItem > .period {
    width: 8rem;
    font-size: var(--desc-small);
    font-weight: var(--desc-weight);
    color: var(--desc-color);
}

#manageNewsPage .newsItem > .subTitle {
    margin-top: 0.75rem;
    margin-bottom: 0.25rem;
    font-size: var(--body-small);
    font-weight: var(--title-weight);
    color: var(--title-color);
}
#manageNewsPage .newsItem > .memberWrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    width: 20rem;
}
#manageNewsPage .newsItem > .memberWrap > .member {
    margin-left: 1.25rem;
    list-style-type: disc;
    font-size: var(--body-small);
    font-weight: var(--body-weight);
    color: var(--body-color);
}
#manageNewsPage .newsItem > .memberWrap > .member > .name {
    margin-right: 0.25rem;
    font-size: var(--body-small);
    font-weight: var(--body-weight);
    color: var(--body-color);
}
#manageNewsPage .newsItem > .memberWrap > .member > .role {
    font-size: var(--desc-small);
    font-weight: var(--desc-weight);
    color: var(--desc-color);
}

#manageNewsPage .newsItem > .linkWrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    width: 5rem;
}

#manageNewsPage .newsItem > .linkWrap > a > svg {
    color: var(--desc-color);
    fill: transparent;
    transition: color 0.3s, fill 0.3s;
}

#manageNewsPage .newsItem > .linkWrap > a:hover > svg {
    color: var(--title-color);
    fill: var(--primary-color);
}

#manageNewsPage .newsItem > .funcWrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 0.5rem;
}

#manageNewsPage .newsItem > .funcWrap > button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25rem;
    padding: 0.75rem;
    background-color: #ffffff;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    font-size: var(--body-small);
    font-weight: var(--title-weight);
    color: var(--title-color);
    transition: border 0.3s;
}

#manageNewsPage .newsItem > .funcWrap > button:hover {
    border: 1px solid var(--title-color);
}

#manageNewsPage .newsItem > .funcWrap > button > svg {
    width: 1rem;
    height: 1rem;
    stroke-width: 2px;
}

@media (max-width: 1024px) {
    #manageNewsPage > .article > .newsContainer > .newsWrap {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
        width: 100%;
    }
}
/* 모바일 */
@media (max-width: 768px) {
    #manageNewsPage > .article > .newsContainer > .newsWrap {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        width: 100%;
    }
}
